{% extends 'spotifyWrapped/base.html' %}
{% load static %}

{% block title %}Spotify Wrapped{% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'spotifyWrapped/initialLogIn.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="audioControls">
        <button id="playPauseBtn">Play</button>
        <br>
        <label for="volumeControl"></label>
        <input
            id="volumeControl"
            class="volume-slider"
            type="range"
            min="0"
            max="1"
            step="0.01"
            value="0.5"
        >
    </div>

<div class="container">
    <!-- Title and GIF horizontally aligned -->
    <div class="title-and-gif">
        <span class="title">Spotify Wrapped</span>
        <img class="gif" src="{% static 'spotifyWrapped/waveform.gif' %}" alt="Waveform Animation">
    </div>
    
    <!-- Links Container with Divider -->
    <div class="links">
        <a href="{% url 'spotifyWrapped:spotify_login' %}" class="link">Log in with Spotify</a>
        <div class="divider"></div> <!-- Vertical divider -->
        <a href="{% url 'spotifyWrapped:spotify_login' %}" class="link">Register</a>
    </div>
</div>

<audio id="audioPlayer">
  <source src="{% static 'spotifyWrapped/music.mp3' %}" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'spotifyWrapped/initialLogin.js' %}"></script>
{% endblock %}